doctype
html
	head
		title MultiVision
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/site.css")
		link(rel="stylesheet", href="vendor/toastr/toastr.min.css")
	body(ng-app="app")
		include currentUser
		block main-content
		include scripts